.filter{
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 1rem;
}
.filter label{
  font-weight: bold;
}

.filter select{
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
